@import "variables.scss";
@import "mixin.scss";

#galleryCSR{
    .sustainableGaleery{
        z-index: 8;
        position: relative;
        .slider-sustanable-gallery{ 
            .slick-next {
                background-image: url("../../img/next.png") !important;
                transition: all 0.5s;
                filter: brightness(0) invert(1);
                right: 2%;
                @media screen and (max-width:991px) {
                    filter: invert(52%) sepia(19%) saturate(378%) hue-rotate(332deg);
                }
            } 
            .slick-prev {
                background-image: url("../../img/prev.png") !important;
                transition: all 0.5s;
                filter: brightness(0) invert(1);
                left: 2%;
                @media screen and (max-width:991px) {
                    filter: invert(52%) sepia(19%) saturate(378%) hue-rotate(332deg);
                }
            }      
            .slick-list {
                @include responsive-padding-left(200, null, 100px, 0);
                @include responsive-padding-right(200, null, 100px, 0);
                .imagegal-sustanable{
                    @include responsive-margin-right(20, null, null, 15px);
                    @include responsive-margin-left(20, null, null, 15px);
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after{
                        content: "";
                        background: rgb(0, 0, 0);
                        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%);
                        width: 100%;
                        height: 300px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        z-index: 8;
                        top: auto;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                    .inerDetails{
                        position: absolute;
                        top: auto;
                        bottom: 0;
                        z-index: 9;
                        text-align: center;
                        width: 100%;
                        .sustanablename{
                            font-style: normal;
                            font-weight: 400;
                            text-transform: uppercase;
                            @include responsive-letter-spacing(1.6, null, null, 1px);
                        }
                    }
                }
            }
        }
    }
}



#csrSustainability{
    .sidebysideBlock{
        @media screen and (max-width:1025px) {
            padding-bottom: 50px !important;
        }
        .descriptionBlock{
            @media screen and (max-width:667px) {
                .moredetails{
                    display: flex;
                    width: fit-content;
                }
            }            
        }
        &:nth-child(even){
            flex-direction: row-reverse;
            @media screen and (max-width:1025px) {
                flex-direction: column;
            }
        }
    }
    .expoImage{
        @media screen and (max-width:1025px) {
            padding-bottom: 25px !important;
        }
    }
    .vedioheight{
        @include responsive-height(600, null, 700px, 260px);
        video{
            height: 100%;
            object-fit: cover;
        }
    }
}